USE [db2]
GO
/****** Object:  User [Mate_13-PC\Mate_13]    Script Date: 31/08/2019 02:52:36 p.m. ******/
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'Mate_13-PC\Mate_13')
DROP USER [Mate_13-PC\Mate_13]
GO
USE [master]
GO
/****** Object:  Database [db2]    Script Date: 31/08/2019 02:52:36 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'db2')
DROP DATABASE [db2]
GO
/****** Object:  Database [db2]    Script Date: 31/08/2019 02:52:36 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'db2')
BEGIN
CREATE DATABASE [db2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db2', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\db2.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db2_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\db2_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db2]
GO
/****** Object:  User [Mate_13-PC\Mate_13]    Script Date: 31/08/2019 02:52:36 p.m. ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'Mate_13-PC\Mate_13')
CREATE USER [Mate_13-PC\Mate_13] FOR LOGIN [Mate_13-PC\Mate_13] WITH DEFAULT_SCHEMA=[dbo]
GO
USE [master]
GO
